 

			<img src='<%= image_path("001.JPG") %>' width="500"/>









			<h1>Welcome to Snoopy's Community Pet Sitting Service</h1>














<p> My name is Snoopy Dumers. I have been a pet sitting professional for 2 years. I specialize in the care of dogs and cats. In-home visits are offered at affordable rates. I also offer overnight stays for pets. Included in the services, I will walk your pets, feed them their meals, give them company/socialize with them and give them lots of love and attention. Also, I can accomadate special request as needed, for example, trip to the vet, pick up dog food from store or other needs.</p>

<p>If you have a question, or comment, I'll be happy to hear from you.  Let me know your preference for my follow up, and I’ll get back to you as quickly as possible.</p>
				







<%= link_to "Contact", contact_path %>          
<%= link_to "Prices", info_path %>







