<h1>Information on Pet Sitting Service</h1>
<p>Pet Sitting Service price ranges varibly but include:</p>


<li>Feeding/Walking = $20 per hourly visit</li>
<li>Overnight Stay =  $25 per hour</li>
<li>Grooming/Veternarian trips = $35</li>
<li>Taking dogs to dog parks/parks to walk around = $30</li>